<br>
<br>
<br>
<br>
<br>
<br>
<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>MLB ScoreBoard</title>
   </head>
   <body>





<article>

    <div class="boxed">
      <%= image_tag "merc.jpeg", height:50, width:5000 %>
    </div>

</article>



   <center>
     <div class="page-header page-header-resume">
            <h1> Scores </h1>
          </div>

           <article>

  <div id="scoreboard">
    <div class="page-header page-header-resume">
        <div id="first"></div>
      </div>
    <div class="page-header page-header-resume">
        <div id="second"></div>
      </div>
    <div class="page-header page-header-resume">
        <div id="three"></div>
      </div>
        <div id="four"></div>
          &nbsp;
        <div id="five"></div>
          &nbsp;
        <div id="six"></div>
          &nbsp;
        <div id="seven"></div>
          &nbsp;
        <div id="eight"></div>
          &nbsp;
        <div id="nine"></div>
          &nbsp;
        <div id="ten"></div>
          &nbsp;
        <div id="eleven"></div>
          &nbsp;
        <div id="two"></div>
          &nbsp;
        <div id="thirteen"></div>
          &nbsp;
        <div id="fourteen"></div>
          &nbsp;
        <div id="fifteen"></div>
          &nbsp;
        <div id="sixteen"></div>
        </div>

  </div>
  <article>
</center>
<br>
<br><br><br><br><br><br><br>


<div class="container">

<%= render 'javascript' %>

   </body>
</html>
</div>
